.container {
  background: url("../img/mobile-search.jpg");
  width: 100vw !important;
  height: 100vh;
  background-repeat: no-repeat;

}

.top {
  margin-top: 1.5em;
}

.logo {
  width: 13em !important;
  height: auto;
  margin-left: 11% !important;
}

a.ui.item.logo:hover {
    background: transparent;
}

.ui.secondary.menu a.item:hover {
    color: #757575;
}

.ui.search.dropdown.selection.active.visible {
    height: fit-content;
    color: #757575;
    border: none;
}

.ui.search.dropdown.selection {
  border: none;
  margin-left: 1vw;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 100;
}

.ui.selection.active.dropdown .menu {
    border: none;
    box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
}

i.search {
    font-size: 1.4em;
}

a.ui.item {
    margin-right: 1vw !important;
}

.ui.right.dropdown.item {
    margin-right: 3vw !important;
}

a.ui.item:hover {
    background: rgba(0, 0, 0, 0.05) !important;
}

.ui.secondary.menu .dropdown.item > .menu, .ui.text.menu .dropdown.item > .menu {
  box-shadow: none;
  border: none;
  background: #f5f5f5;
  #bdbdbd
}

.title-text {
    margin-top: -50em;
    margin-left: 10em;
}

.title-text h1 {
    font-weight: 100;
    color: #585757;
    font-size: 2.5em;
}
.title-text p {
    margin-top: 3%;
    font-size: large;
}

.ui.blue.buttons .button, .ui.blue.button, .ui.blue.button:focus {
  background-color: #3367d6;
  color: #FFFFFF;
  text-shadow: none;
  background-image: none;
  border-radius: 0;
  width: 120px;
  padding: 20px;
  font-size: 120%;
  font-weight: 100;
}

.ui.blue.buttons .button:hover, .ui.blue.button:hover {
  background: #4285f4;
}
.ui.button.searchicon {
  background: transparent;
}
